// *** Colors ***
// Background
$primaryColorBgLight: white;
$secondaryColorBgLight: #E7E9EB;
$primaryColorBgDark: #08141D;
$secondaryColorBgDark: #151E25;

// Brand
$primaryColorBrand: #5F53FE;
$secondryColorBrand: #70F2E4;

// Text
$primaryColorText: black;
$secondaryColorText: white;

// Shadow
$primaryColorShadowLight: 0 20px 40px #e2e0ff;

// *** Font & Typography ***
// General Font
$bodyFont: 'Outfit', sans-serif;

// Font Size
$h2FontSize: 1.95rem;
$h3FontSize: 1rem;
$normalFontSize: .8rem;
$smallFontSize: .7rem;
$smallerFontSize: .5rem;

// Font Weight
$bigFontWeight: 800;
$normalFontWeight: 700;
$smallFontWeight: 600;

// *** Button ***
// Radius
$btnRadius: 1rem;
$navRadius: 1.4rem;