// *** Colors ***
// Background
$primaryColorBgLight: white;
$secondaryColorBgLight: #E7E9EB;
$primaryColorBgDark: #08141D;
$secondaryColorBgDark: #151E25;

// Brand
$primaryColorBrand: #5F53FE;
$secondaryColorBrand: #70F2E4;

// Text
$primaryColorText: black;
$secondaryColorText: white;

// Shadow
$primaryColorShadowLight: 0 20px 40px #e2e0ff;
$primaryColorShadowDark: 0 20px 40px #343351;

// Overlay
$primaryColorOverlay: rgba(95, 83, 254, .9);

// Hover
$primaryColorHover: #4D40FF;

// *** Font & Typography ***
// General Font
$bodyFont: 'Outfit', sans-serif;

// Font Size
$h2FontSize: 1.95rem;
$h3FontSize: 1rem;
$normalFontSize: .8rem;
$smallFontSize: .7rem;
$smallerFontSize: .5rem;

// Font Weight
$bigFontWeight: 800;
$normalFontWeight: 700;
$smallFontWeight: 600;
$smallerFontWeight: 500;

// *** Button ***
// Radius
$btnRadius: 1rem;
$navRadius: 1.4rem;
$projectRadius: 2.8rem;
$overlayRadius: 1.8rem;
$skillRadius: 1.2rem;